<div class='text-center'>
  <% @result.each do |memo| %>
    <p>タイトル:<a href="/<%= memo["id"] %>"> <%= memo["title"] %></a></p>
    <p class='mb-5'><%= "作成日:#{memo["created_at"]}" %></p>
  <% end %>
</div>

<form action="/new" method="get" class="text-right w-75">
  <button class="btn btn-success" type="submit">作成する</button>
</form>